<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NAME</th>
                    <th scope="col">AGE</th>
                </tr>
                </thead>
                <tbody>
                <% for(let i of sales) { %>
                    <tr>
                        <td><%= i.id %></td>
                        <td><%= i.name %></td>
                        <td><%= i.age %></td>
                    </tr>
                <% } %>
                </tbody>
            </table>

        </div>
    </div>






</div>

<%- include('parts/scripts') %>
<%- include('parts/html-foot') %>