<style>
    .navbar .nav-item.active {
        background-color: #75a0cf;
        border-radius: 12px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item <%= pageName==='address-book-list' ? 'active' : '' %>">
                    <a class="nav-link" href="/address-book/list">資料列表</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/address-book/add">新增資料</a>
                </li>


            </ul>

        </div>
    </div>
</nav>