<%- include('../parts/html-head') %>
<%- include('../parts/navbar') %>

<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item <%= page==1 ? 'disabled' : '' %>">
                        <a class="page-link" href="/address-book/list/<%= page-1 %>">&lt;</a>
                    </li>
                    <% for(let i=page-3; i<=page+3; i++){
                        if(i<1) continue;
                        if(i>totalPages) break;
                    %>
                        <li class="page-item <%= i==page ? 'active' : '' %>">
                            <a class="page-link" href="/address-book/list/<%= i %>"><%= i %></a>
                        </li>
                    <% } %>
                    <li class="page-item <%= page==totalPages ? 'disabled' : '' %>">
                        <a class="page-link" href="/address-book/list/<%= page+1 %>">&gt;</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">姓名</th>
                    <th scope="col">手機</th>
                    <th scope="col">email</th>
                    <th scope="col">生日</th>
                    <th scope="col">地址</th>
                </tr>
                </thead>
                <tbody>
                <% for(let item of rows){ %>
                <tr>
                    <td><%= item.sid %></td>
                    <td><%= item.name %></td>
                    <td><%= item.mobile %></td>
                    <td><%= item.email %></td>
                    <td><%= item.birthday %></td>
                    <td><%= item.address %></td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>



</div>

<%- include('../parts/scripts') %>
<%- include('../parts/html-foot') %>